<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_up.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Login</title>
</head>
<body>
    <div class="box">
        <div class="container">
            <div class="top">
                <header>Login</header>
            </div>
            
            {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
            {% endif %}
            
            <form action="/for_login" method="post">
                <div class="input-field">
                    <input type="text" class="input" placeholder="Username" name="username">
                    <i class='bx bx-user'></i>
                </div>
    
                <div class="input-field">
                    <input type="password" class="input" placeholder="Password" name="password" id="passwordField">
                    <i class='bx bx-lock-alt'></i>
                </div>
    
                <div>
                    <input type="checkbox" id="showpassword" onclick="showPassword('passwordField')">
                    <label for="showpassword" style="color:white">Show Password</label>
                </div>
    
                <div class="input-field">
                    <input type="submit" class="submit" value="Login">
                </div>
            </form>
            
            <form action="/register_form" method="post">
                <div class="two-col">
                    <div class="one">
                        <label>Don't have an account?</label>
                    </div>
                    <div class="two">
                        <input type="submit" class="two" value="Sign Up">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function showPassword(passwordField) {
            let passwordElement = document.getElementById(passwordField);

            if (passwordElement.type === "password") {
                passwordElement.type = "text";
            } else {
                passwordElement.type = "password";
            }
        }
    </script>
</body>
</html>
